@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600;700;800&display=swap');

:root{

    --dark-primary: #1d1e23;
    --glow-blue-secondary: #ffd903;
    --primary-hover: #dbba01;
    --opensansa : 'Open Sans', sans-serif;
}



*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
  }

header{
    background-color: var(--dark-primary);
    padding: 20px; 
    color: white;
    margin-left: -164px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;

    position: fixed;
    right: 0;
    left: 0;
}

header .logo{
    font-weight: 800;
    color: var(--glow-blue-secondary);
    letter-spacing: 3px;
    size: 30px;
    margin-left: -35px;

}

header a {
    text-decoration: none;
}

body{
     font-family: 'Open Sans', sans-serif;
}

header ul{
    display: flex;
    list-style: none;
}

header ul li{
    margin-right: 20px;
}
 
header ul li a{
    text-decoration: none;
    color: white;
    font-weight:500
}

header li a:hover{
    color: var(--glow-blue-secondary);
}

/* section:Hero Homepage */

section.hero-section{
    background-color: var(--dark-primary);
    color: white;
    
    display: flex;
    align-items: center;
    padding: 147px 115px 147px 150px;

}

.hero-section__title{
font-weight: bold;
}

.hero-section__name{
    color: var(--glow-blue-secondary);
    font-weight:bolder;
    font-size: 50px;
    padding: 0 0 5px 0;
}

.hero-section__description{
    font-weight: 300;
    padding: 0 0 5px 0;
}

.social-icon{
    margin: 20px 0;
}

.social-icon li{
    margin-right: 15px;

}
ul.social-icon{
    list-style: none;
    display: flex   ;
}

.social-icon li > a{
    text-decoration: none;
    color: #fff;
}

.social-icon li a >i.fa-github:hover{
    color:#6cc644;
}

.social-icon li a >i.fa-linkedin:hover{
    color:#0072b1 ;
}

.social-icon li a >i.fa-x-twitter:hover{
    color:black;
}


/* button */
.header-dwnbtn{
    margin-right: -85px;

}

.hero-button button{
    margin-right: 10px;
}

.btn{
    font-weight: bold;
    padding: 10px 20px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    }

.btn.btn-primary{
    background-color: var(--glow-blue-secondary);
    font-weight: bold;
}
.btn.btn-primary:hover{
    background-color: var(--primary-hover) ;
}

.btn-dark-outlined{
    background-color: var(--dark-primary);
    border: 2px solid var(--glow-blue-secondary);
    border-radius: 5px;
    color: var(--glow-blue-secondary);
}
/* header > button */


.btn-dark-outlined:hover{
    cursor: pointer;
    background-color: var(--glow-blue-secondary);
    color: #fff;
}

/* about -section */
.about-section{
    background:#1f2025;
    color:#fff;
    padding: 232px;

    display: flex;
    justify-content: center;
    align-items: center;
    
}

.about-section img {
    width:250px;
    border-radius: 10px;
    border:3px transparent var(--glow-blue-secondary);
    box-shadow: 4px -1px 37px #ffd90352;
}

.about-section--desc{
    margin-left: 50px;
    max-width: 450px;

}

.about-section--desc h4 {
    font-size: 25px;
    margin: 0 0 0 0;
}

.about-section--desc h4 > span {
    color: var(--glow-blue-secondary);
}

.about-section--desc ul {
    list-style: none;
    margin: 10px 0;
}

.about-section--desc  li {
    margin: 10px 0 0 0;
    color: grey;
}

.about-section--desc li > strong {
    color: #fff;
}

.about-section--desc li >a {
    text-decoration: none;
    color: grey;
}

.about-section--desc li >a:hover{
    color: var(--primary-hover);
}

/* work --section */

.work-section{
    background-color: var(--dark-primary);
    color: #fff;
    padding: 125px  ;
    text-align: center;
}
.work-sections-items{
    display: flex;
    justify-content: center;
   
}
.work-section--myworks{
    background-color:#1f2025;
    max-width: 300px;
    padding:30px;
    border: 1px transparent var(--glow-blue-secondary);
    text-align: left;
    border-radius: 10px;
    cursor: pointer;
    margin-right: 70px;
}

.work-section--myworks:hover{
   background-color: #101115bf;
   box-shadow: 0px 1px 13px var(--glow-blue-secondary);
}
.work-section h4 {
    font-size: 30px;
    margin: 0px 0 100px 0;
}
.work-section p {
    font-weight: bold;
    margin-bottom: 10px;
    font-size:large;
}


.work-section a {
    text-decoration: none;
    color:gray;
    font-weight: 300px;
    font-size:large;
    font-weight:600 ;
    margin-right: 60px;

}

.work-section a:hover{
    color: var(--primary-hover);
}

.project-img{
    margin-bottom: 10px;
    border-radius: 10px;
    width: 250px;
}

/* contact- section */

.contact-section{
    background-color: #1f2025;
    color: #fff;
    padding: 40px;
    text-align: center;

}

.contact-section h4 {
    font-size: 30px;
    margin: 100px 0;
}


.contact-section h4 > span{
    color: var(--glow-blue-secondary);
}

.contact-section form  input ,textarea{
    padding: 5px 10px;
    outline: none;
    width: 350px;
    border: none;
    border-radius: 5px;
    background-color: rgb(189, 189, 189);
    margin-bottom:8px;
    font-family: var(--opensansa);
}

/* footer */

footer{
    background-color: black;
    color: gray;
    padding: 10px 0;
    text-align: center;
    font-size: 14px;
}

footer a{
    text-decoration: none;
    color: var(--glow-blue-secondary);
}

/* media queries */

@media only screen and (max-width: 600px) {
    header{
       flex-direction: column;
       margin: 0;
       width: 110%;

    }

    header .logo{
        margin-left: 0;
    }
    
    .header-dwnbtn{
        margin-right: 0;
    }

    header > * {
        margin-bottom: 10px;
    }


    /* hero -section */

section.hero-section{
    flex-direction: column;
    width: 110%;
   padding:  195px 207px 147px 150px;
  
}

 .hero-img{
    display: none;
 }

.hero-des{
    margin: 20px 180px 0px 0px 
}

/* About section */
.about-section{
    padding:  70px 232px 87px 232px;
}

 section.about-section{
    flex-direction: column;
    width: 110%;
}

.about-section--desc{
    margin-left: 0;
   margin-top: 30px;

}

/* work-section */
.work-section{
    padding: 30px 10px;
    width: 110%;
}
.work-section--title h4 {
 margin-bottom: 30px;
}
.work-sections-items{
    flex-direction: column;
    width:fit-content;
    margin-left: 75px;

}

.work-section--myworks{
    margin-bottom: 30px;
    margin-right: 0px;
    ;
    
   
}

/* contact */
.contact-section {
    width: 110%;

}
.contact-section form input,textarea{
 width: 100%;
}
  }


