@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600;700;800&display=swap');

:root{

    --dark-primary: #1d1e23;
    --glow-blue-secondary: #ffd903;
    --primary-hover: #dbba01;
}



*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

header{
    background-color: var(--dark-primary);
    padding: 20px; 
    color: white;
    margin-left: -164px;

    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

header .logo{
    font-weight: 800;
    color: var(--glow-blue-secondary);
    letter-spacing: 3px;
    size: 30px;
    margin-left: -35px;

}

header a {
    text-decoration: none;
}


body{
     font-family: 'Open Sans', sans-serif;;
}

header ul{
    display: flex;
    list-style: none;
}

header ul li{
    margin-right: 20px;
}
 
header ul li a{
    text-decoration: none;
    color: white;
    text-weight:500
}

header li a:hover{
    color: var(--glow-blue-secondary);
}

/* section:Hero Homepage */

section.hero-section{
    background-color: var(--dark-primary);
    color: white;

    display: flex;
    align-items: center;
    padding: 50px 115px 0px 150px;
}

.hero-section__title{
font-weight: bold;
}

.hero-section__name{
    color: var(--glow-blue-secondary);
    font-weight:bolder;
    font-size: 50px;
    padding: 0 0 5px 0;
}

.hero-section__description{
    font-weight: 300;
    padding: 0 0 5px 0;
}

.social-icon{
    margin: 20px 0;
}

.social-icon li{
    margin-right: 15px;

}
ul.social-icon{
    list-style: none;
    display: flex   ;
}

.social-icon li > a{
    text-decoration: none;
    color: #fff;
}

.social-icon li a >i.fa-github:hover{
    color:#6cc644;
}

.social-icon li a >i.fa-linkedin:hover{
    color:#0072b1 ;
}

.social-icon li a >i.fa-x-twitter:hover{
    color:black;
}

.hero-img{

}

/* button */
.header-dwnbtn{
    margin-right: -85px;

}

.hero-button button{
    margin-right: 10px;
}

.btn{
    font-weight: bold;
    padding: 10px 20px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    }

.btn.btn-primary{
    background-color: var(--glow-blue-secondary);
    font-weight: bold;
}
.btn.btn-primary:hover{
    background-color: var(--primary-hover) ;
}

.btn-dark-outlined{
    background-color: var(--dark-primary);
    border: 2px solid var(--glow-blue-secondary);
    border-radius: 5px;
    color: var(--glow-blue-secondary);
}
/* header > button */


.btn-dark-outlined:hover{
    cursor: pointer;
    background-color: var(--glow-blue-secondary);
    color: #fff;
}

/* about -section */
.about-section{
    background:#1f2025;
    color:#fff;
    padding: 60px;

    display: flex;
    justify-content: center;
    align-items: center;
    
}

.about-section img {
    width:250px;
    border-radius: 10px;
    border:3px transparent var(--glow-blue-secondary);
    box-shadow: 4px -1px 37px #ffd90352;
}

.about-section--desc{
    margin-left: 50px;
    max-width: 450px;

}

.about-section--desc h4 {
    font-size: 25px;
    margin: 0 0 0 0;
}

.about-section--desc h4 > span {
    color: var(--glow-blue-secondary);
}

.about-section--desc ul {
    list-style: none;
    margin: 10px 0;
}

.about-section--desc  li {
    margin: 10px 0 0 0;
    color: grey;
}

.about-section--desc li > strong {
    color: #fff;
}

.about-section--desc li >a {
    text-decoration: none;
    color: grey;
}

.about-section--desc li > a :hover{
    color: var(--primary-hover);
}